{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="container-fluid messages-container {% if no_margin %}messages-margin{% endif %}" id="alerts-container">
        <div class="row">
            <div class="col-md-12">
                {% for category, message in messages %}
                {% if category == 'message' %}
                    <div class="alert alert-info">
                {% else %}
                    <div class="alert alert-{{ category }}">
                {% endif %}
                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                    {{message}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
{% endwith %}
